/** background colors*/
$bg-accent: #a6192e;
$bg-dark: #323232;
$bg-gray-new: #c0c0c0;
$bg-gray-dark: #5b5b5b;
$bg-gray-mid: #777777;
$bg-accent: #a6192e;
$bg-white: #ffffff;
$bg: #f2f2f2;
$bg-table-stroke-mid: #f9f9f9;
/** font colors*/
$font-white: #ffffff;
$font-new-gray: #c0c0c0;
$font-gray-dark: #5b5b5b;
$font-gray-mid: #777777;
$font-dark: #424242;
$font-gray-main: #828282;
$font-blue: #4285f4;
$font-green: #0f9d58;
$font-yellow: #e2b534;
$font-red: #db4437;
/** colors */
$new-gray: #c0c0c0;
