@use "../../variables.scss" as *;

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding-top: 14px;
  padding-right: 0;
  padding-bottom: 14px;
  padding-left: 0;

  text-transform: uppercase;

  &__inner-wrap {
    display: flex;
    justify-content: end;
    width: 297px;
  }

  &__schools {
    width: 116px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    list-style: none;

    gap: 17px;
  }

  &__item {
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;

    color: $font-gray-mid;
    text-decoration: none;

    cursor: pointer;

    &:hover,
    &:focus {
      font-weight: 700;
    }

    &--active {
      font-weight: 700;
      color: $font-white;

      background-color: $bg-accent;
    }
  }

  &__user {
    display: flex;
    justify-content: end;
    width: 297px;
  }

  &__user-avatar {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../../../public/img/user-avatar.png);
    background-repeat: no-repeat;
    cursor: pointer;
  }

  &__user-menu {
    display: block;
    width: 32px;
    height: 32px;

    background-image: url(../../../public/img/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    cursor: pointer;
  }
}

.select {
  text-transform: uppercase;

  border: none;
  cursor: pointer;
}

.sub-nav {
  padding-top: 4px;
  padding-bottom: 4px;

  color: $font-new-gray;

  background-color: $bg-gray-dark;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding: 0;

    list-style: none;

    gap: 12px;
  }

  &__item {
    padding-top: 7.5px;
    padding-right: 12px;
    padding-bottom: 7.5px;
    padding-left: 12px;

    font-size: 12px;
    color: $font-new-gray;

    background-color: transparent;

    &--reset {
      width: 88px;
      padding-right: 0;

      font-weight: 700;
      text-transform: uppercase;

      background-color: transparent;
      background-image: url(../../../public/img/clear.svg);
      background-repeat: no-repeat;
      background-position: 10px;
      background-position: -2px 9px;
      border: none;
    }
  }
}

.export-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;

  &__title {
    width: 25%;
    margin: 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    text-align: left;
    color: $font-gray-dark;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 50%;

    text-align: center;
  }

  &__search {
    width: 440px;
    height: 32px;
    padding-right: 40px;
    padding-left: 12px;

    color: $font-dark;

    background-color: $bg;
    background-image: url(../../../public/img/search.svg);
    background-repeat: no-repeat;
    background-position: 98% center;
    border: none;

    &::placeholder {
      color: $font-new-gray;
    }

    &:hover {
      &::placeholder {
        color: $font-gray-mid;
      }
    }
  }

  &__wrap {
    min-width: 25%;

    text-align: center;
  }

  &__button {
    min-width: 98px;
    padding-right: 0;
    padding-left: 22px;

    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: $font-new-gray;
    text-transform: uppercase;

    background-color: transparent;
    background-image: url(../../../public/img/export-arrow.svg);
    background-repeat: no-repeat;
    background-position: 3px 2px;
    border: none;
  }
}

.score {
  display: flex;
  flex-direction: column;

  gap: 18px;
}

.score-table {
  width: 100%;

  &__body {
    box-shadow: 0 1px 4px 0 #5b5b5b26;
  }

  &__tr {
    display: grid;
    align-items: center;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 14px;
    padding-left: 20px;

    text-align: left;
    color: $font-gray-main;

    gap: 24px;
    grid-template-columns: 16px 1fr 96px 40px 100px 112px 2fr 104px;

    & th {
      font-weight: 400;
      color: $font-gray-mid;
    }

    &:nth-child(2n) {
      background-color: $bg-table-stroke-mid;
    }

    &--active {
      background-color: $bg;
      border: 1px solid $new-gray;
      box-shadow: 0 1px 4px rgba(60, 52, 135, 0.15);
    }
  }

  &--inner {
    padding: 0;
  }

  &__td-check {
    display: flex;
  }

  &__td-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    display: block;
    width: 32px;
    height: 32px;

    background-color: $bg;
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    &--create {
      background-image: url(../../../public/img/create.svg);
    }

    &--trending-up {
      background-image: url(../../../public/img/trending_up.svg);
    }

    &--drop-down {
      width: 24px;
      height: 24px;

      background-color: transparent;
      background-image: url(../../../public/img/arrow_drop_down.svg);
    }

    &--drop-up {
      background-image: url(../../../public/img/arrow_drop_up.svg);
    }
  }
}

.pagination {
  display: flex;
  align-items: center;
  align-self: center;
  height: 56px;

  color: $font-gray-dark;

  gap: 24px;

  &__rows-per-page {
    display: flex;

    gap: 16px;
  }

  &__text {
    margin: 0;
  }

  &__pages-controls {
    display: flex;
    justify-content: space-between;
    width: 72px;
  }

  &__arrow {
    display: block;
    width: 32px;
    height: 32px;

    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &--left {
      background-image: url(../../../public/img/arrow-left.svg);
      background-position-x: 5px;
    }

    &--right {
      background-image: url(../../../public/img/arrow-right.svg);
    }

    &:hover {
      background-color: $bg;
    }

    &:focus {
      background-color: $bg;
    }

    &:active {
      background-color: $bg-table-stroke-mid;
    }
  }
}

.results {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 198px;
  padding-bottom: 20px;
  padding-left: 60px;

  background-color: $bg;

  gap: 12px;

  &__title {
    display: flex;

    text-transform: uppercase;

    gap: 15px;
  }

  &__text {
    margin: 0;
  }

  & b {
    color: $font-gray-dark;
  }

  &__selectors-wrap {
    display: flex;
    flex-direction: column;

    gap: 12px;
  }

  &__selectors {
    display: flex;
    flex-wrap: wrap;

    gap: 16px;
  }

  &__selector {
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;

    font-weight: 700;
    color: $font-gray-dark;
    text-transform: uppercase;

    background-color: $bg-white;
    border-color: $new-gray;
    border-radius: 0;

    &--filter {
      width: 105px;

      color: $font-white;

      background-color: transparent;
      border: none;
    }
  }

  &__date-input {
    width: 200px;
    height: 100%;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
  }

  &__reset {
    display: block;
    width: 32px;
    height: 32px;

    background-color: transparent;
    background-image: url(../../../public/img/reset.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
  }

  &__devider {
    display: block;
    height: 1px;
    margin: 0;

    background-color: $bg-accent;
  }

  &__score-definition {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;

    gap: 25px;
  }

  &__score-title {
    margin: 0;
  }

  &__score-text {
    position: relative;

    margin: 0;
    padding-left: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;

      display: block;
      width: 12px;
      height: 12px;

      background-color: black;
      border-radius: 50%;
    }

    &--blue {
      color: $font-blue;

      &::before {
        background-color: $font-blue;
      }
    }

    &--green {
      color: $font-green;

      &::before {
        background-color: $font-green;
      }
    }

    &--yellow {
      color: $font-yellow;

      &::before {
        background-color: $font-yellow;
      }
    }

    &--red {
      color: $font-red;

      &::before {
        background-color: $font-red;
      }
    }
  }
}

.results-table {
  display: flex;
  flex-direction: column;

  gap: 16px;

  &__thead {
    .results-table__tr {
      height: 20px;
      padding-top: 0;
      padding-bottom: 0;

      font-size: 14px;
      line-height: 20px;
    }
  }

  &__tbody {
    display: flex;
    flex-direction: column;

    gap: 6px;
  }

  &__tr {
    display: grid;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 16px;
    line-height: 22px;
    text-align: left;
    column-gap: 12px;

    grid-template-columns: 22px 300px 48px 113px 68px 119px 152px 112px 48px;
    row-gap: 6px;

    & p {
      margin: 0;
    }
  }

  &__td-absent {
    text-align: center;
  }

  &__td-test-label {
    padding-left: 7px;
  }

  &__checkbox {
    margin: 0 auto;
  }
}
